.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-600);
    padding-bottom: 1.5rem;
}

.create {
    color: var(--blue-400);
    font-weight: bold;
    gap: 8px;

}

.done {
    color: var(--purple-300);
    font-weight: bold;
    gap: 8px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.6875rem;
    color: var(--gray-400);
    font-style: normal;
}

.footer strong {
    margin-top: 1rem;
    line-height: 1.6;
}

.footer span {
    font-size: 1rem;
    line-height: 1.6;
}