.wrapper {
    display: grid;
    max-width: 46rem;
    margin: 0rem auto;
    padding: 0 1rem;
    align-items: flex-start;
    grid-template-columns: 736px;
}


@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    .wrapper {
        grid-template-columns: 1fr;
    }
} 